<mat-toolbar>
  If Else Cloud Limited Technical Task
  <mat-button-toggle-group style="box-shadow: none">
    <mat-button-toggle matTooltip="Previous Shift">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Current Shift">
      <mat-icon class="s-16">panorama_fish_eye</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Next Shift">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Custom Start Date">
      <input matInput [matDatepicker]="endPicker" hidden>
      <mat-datepicker #endPicker color="accent"></mat-datepicker>
      <mat-datepicker-toggle [for]="endPicker">
        <mat-icon class="s-16" matDatepickerToggleIcon>event</mat-icon>
      </mat-datepicker-toggle>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<router-outlet></router-outlet>
